@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif, arial, helvetica;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    background-color: #f8f1f1;
}

header {
    background-color: #180A41;
    color: white;
}

main {
    background-color: #f8f1f1;
}

.login-page {
    border: 2px solid gray;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    max-width: 480px;
    background-color: #fff;
    margin: auto;
    margin-top: 15px;  
    margin-bottom: 15px;
}

.sign-in-control {
    display: flex;
    flex-wrap: wrap;
    min-width: 90%;
    
}

.mail-container, .password-container {
    display: flex;
    margin: 8px;
    box-shadow: 3px 3px 5px gray;
    border: solid 1px #666666;
    margin: 15px 15px 15px 0px;
    max-width: 550px;
    padding: 8px;
    border-radius: 4px;   
}

.profile-picture {
    border: rgba(119, 118, 118, 0.4) 1px solid;
    align-self: center;
    display:block;
    margin:auto;
    max-width: 150px;
}

form i {
    background-color: rgb(180, 178, 178);
    color: black;
    padding: 6px;
    border: 1px solid rgb(104, 102, 102)
}

.sign-in-control {
    border: 0px solid white;
    margin: 3px;
}

.forgot-password {
    margin-left: 40%;
    margin-top: -10px;
}

.remember-me-container {
    margin-bottom: 3%;
}

.button-form {
    margin-bottom: 5%;
}

    .login-link {
        text-decoration: none;
        background-color: #180a41;
        color: #fff;
        font-size: 20px;
    }

    .register-link {
        text-decoration: none;
        background-color: rgb(110, 110, 237);
        color: #fff;
        font-size: 15px;
    }

    .button-form .login-button{
        background-color: #180a41;
        border: none;
        padding: 16px 32px;
        border-radius: 4px;
        width: 100%;
    }

    .button-form .register-button{
        background-color: rgb(110, 110, 237);
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        width: 100%;
        margin-top: 2%; 
    }

    .login-button:hover{
        box-shadow: 0px 0px 15px gray;
    }

    .register-button:hover{
        box-shadow: 0px 0px 15px gray;
    }


footer {
    background-color: #180A41;
    color: white;
}

@media (min-width: 481px) {

    .login-page {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

}
