@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', arial;;
}

.main-register {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.registro {
    border: 1px solid #666;
    border-radius: 8px;
    max-width: 800px;
    padding: 10px;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    top: calc(50% - 60px/2 - 294px);
    background: #180A41;
    border-radius: 8px;
}

.labelTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #25D708;
}

.formulario {
    display: flex;
    flex-flow: column;
    margin: 15x;
    padding: 10px;
    justify-content: center;
}

.name,
.lastName,
.age,
.address,
.email,
.password,
.rePassword {
    display: flex;
    flex-flow: column;
    margin: 8px;
}

.labelName,
.labelLastName,
.labelAge,
.labelAddress,
.labelEmail,
.labelPassword,
.labelRePassword {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 3px;
}

.inputName,
.inputLastName,
.inputAge,
.inputAddress,
.inputEmail,
.inputPassword,
.inputRePassword {
    height: 35px;
    padding-left: 10px;
    border: 1 solid rgba(14, 13, 13, 0.3);
    border-radius: 8px;
    transition: all 250ms;
}

.inputName:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputLastName:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputAge:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputAddress:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputEmail:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputPassword:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.inputRePassword:focus {
    box-shadow: 0px 5px 35px rgb(43, 42, 42);
}

.buttons {
    display: flex;
    flex-flow: column;
    margin-top: 10px;
}

.tengoCuenta {
    margin-top: 20px;
}

.btn {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #180A41;
    color: #06F82C;
    border-radius: 8px;
    transition: all 200ms;
}

.btn-tengoCuenta {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 180px;
    height: 38px;
    text-align: center;
    background-color: #d6790f;
    color: #ffffff;
    border-radius: 8px;
    transition: all 200ms;
}

.btn-tengoCuenta:hover {
    background-color: #f0a958;
    color: #141212;
}

.btn:hover {
    background-color: #310c9e;
    color: #a6fab3;
}

@media (min-width: 780px) {
    .formulario {
        flex-flow: row;
        flex-wrap: wrap;
    }
    .name,
    .lastName,
    .age,
    .address {
        display: flex;
        margin: 10px;
        min-width: 290px;
    }
    .email,
    .password,
    .rePassword {
      
        display: flex;
        min-width: 600px;
    }
    .buttons {
        display: flex;
        flex-flow: row;
        margin-top: 10px;
    }
    .tengoCuenta {
        margin-top: 20px;
        margin-left: 150px;
    }
}