<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="" method="POST">
            <label for="">Nombre del Producto:</label>
            <input type="text" name="" id="">
            <label for="">Descripción:</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Imágen:</label>
            <input type="file" name="" id="">
            <label for="">Categoría:</label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for="">Colores:</label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for="">Precio:</label>
            <input type="number" name="" id="">
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>