<!DOCTYPE html>
<html lang="en">
<%- include('./../partials/head') %>

    <body class="body-login">
        <%- include('./../partials/header') %>
            <main class="main-login">
                <form action="/login" method="POST" class="login-page">
                    <div class="login-fields">
                        <div class="image-container">
                            <img src="images/Login-gif.gif" width="40%" alt="user-gif" class="profile-picture">
                        </div>
                    </div>
                    <div class="login-fields">
                        <div class="mail-container">
                            <label></label>
                            <div class="mail-icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <input type="mail" name="user-mail" placeholder="Correo Electrónico" class="sign-in-control" required>
                        </div>
                    </div>
                    <div class="login-fields">
                        <div class="password-container">
                            <label></label>
                            <div class="password-icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <input type="password" name="password" minlength="6" maxlength="15" placeholder="Contraseña" class="sign-in-control" required>
                        </div>
                    </div>
                    <label></label>
                    <ul type="none" class="forgot-password">
                        <li><a href="#">¿Olvidaste tu Contraseña?</a></li>
                    </ul>
                    <div class="login-fields">
                        <div class="remember-me-container">
                            <label>
                    <input type="checkbox" name="remember-me" value= "remember-me" class="remember-me"> Recordarme
                </div>
            </div>
            <div class="button-form">
                <button type="submit" class="login-button"><a href="/" class="login-link">Iniciar Sesión</button></a>
                <button type="submit" class="register-button"><a href="/register" class="register-link">¿No tenes usuario? Registrate</button></a>
            </div>                 
        </form>
    </main>
    <%- include('./../partials/footer') %>
    </body>

</html>